body{
    font-family: 'IBM Plex Sans', sans-serif;
}
.first-page{
   background-image: url(planet.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   height: 100%;
   border-top:3px solid #7000ff;
}

.logo{ 
    height:75px;
    transition-duration:0.3s;
}
.logo:hover{
    transform:scale(1.1);
    transition-duration:0.3s;
    

}
.cont1{
    
}
.row1{
    height:15%;
    position:sticky;   
}

.row2{
    height:70%;
}
.row3{  
    height:15%;
}
.img{
position:absolute;
z-index:-1;

}

.nav-items{
    display:flex;
    column-gap:20px;
    list-style:none;
    color:#7000ff;
    margin-right:35px;
    column-gap:35px;
}
.nav-links{
    text-decoration:none;
    color:white;
    font-size:20px;
    transition-duration: 0.15s;
    
   
}
.nav-links:hover{
    color:#7000ff;
    transform:scale(1.1);
    transition-duration: 0.15s;
}
.nav-links:focus{
    border-bottom:2px solid #7000ff;  
    color:#7000ff;    

}
#navlinkbtn{
    padding:5px;
    margin-top:-7px;
    transition-duration: 0.15s;
}

#navlinkbtn:hover{
    background-color:#7000ff;
    color:white !important;
    transition-duration: 0.15s;
}
.main{
    color:#fafafa;
    max-width:800px;
    line-height:1.7rem;
    text-align:center;
}
.TitleMain{
    margin-bottom:30px;
}
.paraMain{
    margin-bottom:30px;
}
.main-button{
    text-decoration: none;
    color:#fafafa;
    border: 1px solid #fafafa;
    width:105px;
    justify-content: center;
}
.buttonMain{
    border:2px solid #7000ff;
    color:#7000ff;
    font-size:20px;   
}
.buttonMain:hover{
    background-color:#7000ff;
    color:#fafafa;
    border:2px solid #7000ff;
}