body{
    background-image: linear-gradient(0deg,#00000088 30%, #ffffff33 100%), url("hill.jpg");
    background-size:cover;
    font-family: 'Lato', sans-serif;
    background-position:center;
    background-repeat:no-repeat;
   
}
.header{
    height:50px;
    font-size:1.7rem;
}
.logo{
    color:white;
}

.logo:hover{
color:white

}
.navi{
    font-size:1.3rem;
    font-weight:400;
    color:white;
    text-decoration:none;
    transform:scale(1);
    transition-duration:0.200s;
}

.navi:hover{
    color:white;
    transform:scale(1.3);
    transition-duration:0.300s;
}

.container{
    height:100%;
    border:5px solid black;
    
    
}
.navigation{

    display:flex;
    align-items:center;
    justify-content: center;
    margin-right: -50px;
}    
#title{
    text-shadow:0 7px 30px rgba(0, 0, 0, 0.5);
}
.para{
    color:white;
    
}

.para h1{
    font-size:4rem;
    
}
@keyframes scrolldown{
    0%{ transform:translateY(0)}
    50%{transform:translateY(25px)}
    100%{transform:translateY(0)}
    }
    .navi svg{
        animation-name: scrolldown;
        animation-duration:3.5s;
        animation-iteration-count: infinite;
        animation-fill-mode:forwards;
        animation-delay:0s;
    }
